<a href="https://colab.research.google.com/github/JoeSotomayor/PortfolioProjects/blob/main/Apriori_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import the file 

import pandas as pd

df = pd.read_csv('groceries_Full_data.csv', header=None)

df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Check the length of the data frame

num_records = len(df)

num_records

9835

In [ ]:
# Convert the data frame into a list and remove na values

records = []
for i in range(0, num_records):
    record = [str(df.values[i,j]) for j in range(0,32) if not pd.isnull(df.values[i,j])]
    records.append(record)

records[:10]

[['citrus fruit', 'semi-finished bread', 'margarine', 'ready soups'],
 ['tropical fruit', 'yogurt', 'coffee'],
 ['whole milk'],
 ['pip fruit', 'yogurt', 'cream cheese', 'meat spreads'],
 ['other vegetables',
  'whole milk',
  'condensed milk',
  'long life bakery product'],
 ['whole milk', 'butter', 'yogurt', 'rice', 'abrasive cleaner'],
 ['rolls/buns'],
 ['other vegetables',
  'UHT-milk',
  'rolls/buns',
  'bottled beer',
  'liquor (appetizer)'],
 ['potted plants'],
 ['whole milk', 'cereals']]

In [ ]:
# Create a 10% random sample from the list

import random

sample_size = int(len(records) * 0.1)
sample = random.sample(records, sample_size)

len(sample)

983

In [ ]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5976 sha256=1d6507b0d30b371d4b02e091af82c005f2fb7a59d543abb4be35cc910f5c3938
  Stored in directory: /root/.cache/pip/wheels/c4/1a/79/20f55c470a50bb3702a8cb7c94d8ada15573538c7f4baebe2d
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
# Generate association rules from the list for 3 items purchased 

from apyori import apriori

rules = apriori(sample, min_support=0.010, min_confidence=0.2, min_lift=3)

results = list(rules)

three_items = [result for result in results if len(result.items) == 3]

three_items[:10]

[RelationRecord(items=frozenset({'root vegetables', 'other vegetables', 'beef'}), support=0.01017293997965412, ordered_statistics=[OrderedStatistic(items_base=frozenset({'other vegetables', 'beef'}), items_add=frozenset({'root vegetables'}), confidence=0.43478260869565216, lift=3.957326892109501)]),
 RelationRecord(items=frozenset({'other vegetables', 'beef', 'whole milk'}), support=0.014242115971515769, ordered_statistics=[OrderedStatistic(items_base=frozenset({'beef'}), items_add=frozenset({'other vegetables', 'whole milk'}), confidence=0.27450980392156865, lift=3.5044563279857397)]),
 RelationRecord(items=frozenset({'root vegetables', 'beef', 'whole milk'}), support=0.01017293997965412, ordered_statistics=[OrderedStatistic(items_base=frozenset({'beef', 'whole milk'}), items_add=frozenset({'root vegetables'}), confidence=0.4166666666666667, lift=3.7924382716049387), OrderedStatistic(items_base=frozenset({'root vegetables', 'whole milk'}), items_add=frozenset({'beef'}), confidence=0.2272727272727273, lift=4.380570409982175)]),
 RelationRecord(items=frozenset({'bottled water', 'whole milk', 'bottled beer'}), support=0.011190233977619531, ordered_statistics=[OrderedStatistic(items_base=frozenset({'whole milk', 'bottled beer'}), items_add=frozenset({'bottled water'}), confidence=0.43999999999999995, lift=3.9319999999999995), OrderedStatistic(items_base=frozenset({'whole milk', 'bottled water'}), items_add=frozenset({'bottled beer'}), confidence=0.3055555555555555, lift=3.45242656449553)]),
 RelationRecord(items=frozenset({'whole milk', 'yogurt', 'bottled beer'}), support=0.011190233977619531, ordered_statistics=[OrderedStatistic(items_base=frozenset({'whole milk', 'bottled beer'}), items_add=frozenset({'yogurt'}), confidence=0.43999999999999995, lift=3.327076923076923), OrderedStatistic(items_base=frozenset({'yogurt', 'bottled beer'}), items_add=frozenset({'whole milk'}), confidence=0.7857142857142856, lift=3.258890898131404)]),
 RelationRecord(items=frozenset({'soda', 'other vegetables', 'bottled water'}), support=0.013224821973550356, ordered_statistics=[OrderedStatistic(items_base=frozenset({'soda', 'other vegetables'}), items_add=frozenset({'bottled water'}), confidence=0.37142857142857144, lift=3.3192207792207795)]),
 RelationRecord(items=frozenset({'soda', 'yogurt', 'bottled water'}), support=0.011190233977619531, ordered_statistics=[OrderedStatistic(items_base=frozenset({'yogurt', 'bottled water'}), items_add=frozenset({'soda'}), confidence=0.5238095238095237, lift=3.046773739081431), OrderedStatistic(items_base=frozenset({'soda', 'yogurt'}), items_add=frozenset({'bottled water'}), confidence=0.3928571428571428, lift=3.5107142857142852)]),
 RelationRecord(items=frozenset({'tropical fruit', 'yogurt', 'bottled water'}), support=0.01017293997965412, ordered_statistics=[OrderedStatistic(items_base=frozenset({'tropical fruit', 'bottled water'}), items_add=frozenset({'yogurt'}), confidence=0.43478260869565216, lift=3.287625418060201), OrderedStatistic(items_base=frozenset({'yogurt', 'bottled water'}), items_add=frozenset({'tropical fruit'}), confidence=0.4761904761904762, lift=4.2170742170742175)]),
 RelationRecord(items=frozenset({'root vegetables', 'other vegetables', 'citrus fruit'}), support=0.01017293997965412, ordered_statistics=[OrderedStatistic(items_base=frozenset({'root vegetables', 'citrus fruit'}), items_add=frozenset({'other vegetables'}), confidence=0.625, lift=3.1668814432989687)]),
 RelationRecord(items=frozenset({'tropical fruit', 'other vegetables', 'citrus fruit'}), support=0.011190233977619531, ordered_statistics=[OrderedStatistic(items_base=frozenset({'other vegetables', 'citrus fruit'}), items_add=frozenset({'tropical fruit'}), confidence=0.3548387096774194, lift=3.1424004649811104), OrderedStatistic(items_base=frozenset({'tropical fruit', 'other vegetables'}), items_add=frozenset({'citrus fruit'}), confidence=0.27499999999999997, lift=3.7545138888888885)])]

In [ ]:
# Find the three items most often purchased together

three_items.sort(key=lambda rule: rule.support, reverse=True)

top_three = list(three_items[0].items)

print(top_three)

['tropical fruit', 'other vegetables', 'yogurt']