<a href="https://colab.research.google.com/github/JoeSotomayor/PortfolioProjects/blob/main/Credit_Card_Approval_Naive_Bayes_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('credit_card_dataset_BI.csv')
df.head(100)

         ID Gender  House Owner  Annual Income  Status
0   5008806    male         yes         112500       0
1   5008844    male         yes         112500       0
2   5008846    male         yes         112500       0
3   5008847    male         yes         112500       0
4   5008849    male         yes         112500       0
..      ...     ...         ...            ...     ...
95  5008841    male         yes         405000       4
96  5008842    male         yes         405000       4
97  5008843    male         yes         405000       4
98  5008804    male         yes         427500       4
99  5008805    male          no         427500       4

[100 rows x 5 columns]

In [ ]:
# Cleaning the dataset to use a classification algorithm, removing the continous variable 'Annual Income' and 'ID' that doesn't make any change in predictions. 

df.drop(['Annual Income', 'ID'], axis='columns', inplace=True)
df.head()

  Gender  House Owner  Status
0    male         yes       0
1    male         yes       0
2    male         yes       0
3    male         yes       0
4    male         yes       0

In [ ]:
# Dropping the column that I want to predict: 'Status'.

inputs = df.drop('Status', axis='columns')
target = df.Status

In [ ]:
# Converting to 0 and 1 my Gender and House Owner columns to help the model be more efficient.

dummies = pd.get_dummies(inputs)
dummies.head(3)

   Gender _female  Gender _male  House Owner_no  House Owner_yes
0               0             1               0                1
1               0             1               0                1
2               0             1               0                1

In [ ]:
# Appending the dummies columns. 

inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

,Gender,House Owner,Gender _female,Gender _male,House Owner_no,House Owner_yes
0,male,yes,0,1,0,1
1,male,yes,0,1,0,1
2,male,yes,0,1,0,1

In [ ]:
# Dropping unnecesary columns. 

inputs.drop(['Gender ','House Owner','Gender _female','House Owner_no'], axis='columns', inplace=True)
inputs.head(3)

   Gender _male  House Owner_yes
0             1                1
1             1                1
2             1                1

In [ ]:
# Renaming the new colums.

inputs.rename(columns = {'Gender _male':'Gender','House Owner_yes':'House Owner'}, inplace=True)
inputs.head()

   Gender  House Owner
0       1            1
1       1            1
2       1            1
3       1            1
4       1            1

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size = 0.3)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [ ]:
model.fit(X_train, y_train)

GaussianNB()

In [ ]:
len(X_train)

70

In [ ]:
len(X_test)

30

In [ ]:
model.score(X_test, y_test)

0.3

In [ ]:
X_test[:10]

    Gender  House Owner
17       0            1
8        1            1
82       0            1
34       0            1
95       1            1
37       0            1
66       0            1
98       1            1
16       0            1
5        1            1

In [ ]:
y_test[:10]

17    0
8     0
82    3
34    0
95    4
37    0
66    2
98    4
16    0
5     0
Name: Status, dtype: int64